.be-part-of-the-future-tech-revolution__body-container {
	border: 0.0625rem solid var(--dark-color_15);
	/* 1px */
	background-color: var(--dark-color_08);
	padding: 0.625rem 0.625rem 1.25rem 0.625rem;
	/* 10px 10px 20px 10px */
}

.be-part-of-the-future-tech-revolution__body-container_item {
	box-sizing: border-box;
	background-color: var(--dark-color_12);
	border-radius: 0.625rem;
	/* 10px */
	padding: 1.5rem;
	/* 24px */
	display: flex;
}

.be-part-of-the-future-tech-revolution__body-container_title {
	margin-bottom: 0.625rem;
	/* 10px */
}
