.real-words-from-real-readers__body-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: 0.0625rem solid var(--dark-color_15);
	/* 1px */
}

.real-words-from-real-readers__card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 19.625rem;
	/* 314px */
	border-bottom: 0.0625rem solid var(--dark-color_15);
	/* 1px */
}

.real-words-from-real-readers__header {
	padding: 0 1.25rem;
	/* 20px */
	margin: 2.5rem 0;
	/* 40px */
}

.real-words-from-real-readers__avatar {
	width: 3.125rem;
	/* 50px */
	height: 3.125rem;
	/* 50px */
	border-radius: 50%;
	margin-right: 0.625rem;
	/* 10px */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* .avatar1 {
    background-image: url(../sourse/img/Profile/profile-1.jpg);
}

.avatar2 {
    background-image: url(../sourse/img/Profile/profile-2.jpg);
}

.avatar3 {
    background-image: url(../sourse/img/Profile/profile-3.jpg);
}

.avatar4 {
    background-image: url(../sourse/img/Profile/profile-4.jpg);
}

.avatar5 {
    background-image: url(../sourse/img/Profile/profile-5.jpg);
}

.avatar6 {
    background-image: url(../sourse/img/Profile/profile-6.jpg);
} */

.real-words-from-real-readers__info {
	display: flex;
	flex-direction: column;
	position: relative;
}

.real-words-from-real-readers__info p {
	font-size: 1rem;
	/* 16px */
}

.stars {
	position: absolute;
	margin-top: 8.3125rem;
	/* 133px */
	min-width: 8.75rem;
	/* 140px */
	min-height: 2.25rem;
	/* 36px */
	text-align: center;
	font-size: 1.25rem;
	/* 20px */
	color: #ffc107;
	border-radius: 100px;
	background-color: var(--dark-color_08);
	border: 0.0625rem solid var(--dark-color_15);
	/* 1px */
}

.real-words-from-real-readers__content {
	margin-bottom: 2.5rem;
	/* 40px */
	padding: 1.875rem 1.25rem 1.25rem;
	/* 30px 20px 20px */
	line-height: 1.5;
	border: 0.0625rem solid rgb(246, 255, 0);
	/* 1px */
	background-color: var(--dark-color_10);
	border: 0.0625rem solid var(--dark-color_15);
	/* 1px */
	border-radius: 0.625rem;
	/* 10px */
	color: var(--light_color_absolute);
}