.swiper-container {
	width: 100%;
	/* Ширина контейнера */
	overflow: hidden;
	/* Приховує все, що виходить за межі контейнера */
}

.swiper-wrapper {
	/* Додає горизонтальне розташування слайдів */
	transition: transform 0.3s ease;
	/* Плавне прокручування */
	align-items: stretch;
}

.swiper-slide {
	background-color: var(--dark-color_12);
	border: 0.0625rem solid var(--dark-color_15);
	/* 1px */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease;
	border-radius: 0.625rem;
	/* 10px */
	padding: 1.5rem;
	/* 24px */
	display: flex;
	flex-direction: column;
	min-height: 12.5rem;
	/* 200px */
}

.swiper-navigation {
	height: 1.25rem;
	/* 20px */
}

.swiper-button-prev {
	position: absolute;
	color: var(--light_color_absolute) !important;
}

.swiper-button-next {
	position: absolute;
	color: var(--light_color_absolute) !important;
}

.swiper-pagination {
	position: absolute;
	bottom: -0.3125rem !important;
	/* -5px */
	color: var(--light_color_absolute) !important;
	--swiper-theme-color: #f6f6f7;
}

.swiper-pagination-bullet {
	background-color: var(--dark-color_40) !important;
}

@media (max-width: 768px) {
	.swiper-slide {
		max-width: 100%;
		/* Слайди займають всю ширину на малих екранах */
		padding: 1.875rem;
		/* 30px */
	}
}

@media (min-width: 1920px) {
	.swiper-slide {
		max-width: 100%;
		/* Слайди займають всю ширину на великих екранах */
		padding: 2.5rem;
		/* 40px */
	}
}