.unlock-valuable-knowledge__head-container_btn,
.real-words-from-real-readers__head-container_btn {
	max-width: 720px;
	max-height: 49px;
	padding: 14px 20px;
	gap: 4px;
	background-color: var(--dark-color_08);
	border: 1px solid var(--dark-color_15);
	margin-bottom: 40px;
}

.body-container_first-floor>.unlock-valuable-knowledge__item-inner-container>.icon {
	width: 50px;
	height: 50px;
	background-position: -8px -52px;
	background-size: 300%;
	margin-bottom: 24px;
}

.body-container_second-floor>.unlock-valuable-knowledge__item-inner-container>.icon {
	width: 50px;
	height: 50px;
	background-position: -63px -6px;
	background-size: 300%;
	margin-bottom: 24px;
}

.unlock-valuable-knowledge__title_h3 {
	margin-bottom: 4px;
}

.unlock-valuable-knowledge_title_h3-comment {
	margin-bottom: 24px;
}

.unlock-valuable-knowledge__item-inner-container>.unlock-valuable-knowledge__body-container_btn {
	max-width: 100vw;
	max-height: 57px;
	padding: 18px 0;
	gap: 4px;
	border-radius: 6px;
	background-color: var(--dark-color_10);
	border: 1px solid var(--dark-color_15);
	margin-bottom: 20px;
}

.unlock-valuable-knowledge__board-with-foto {
	padding: 23px 30px;
	border-radius: 6px;
	background-color: var(--dark-color_10);
	border: 1px solid var(--dark-color_15);
}

.unlock-valuable-knowledge__position-user-img-1 {
	background-image: url(../sourse/img/image/image-1.jpg);
	left: 6px;
}

.unlock-valuable-knowledge__position-user-img-2 {
	background-image: url(../sourse/img/image/image-2.jpg);
	left: 33px;
}

.unlock-valuable-knowledge__position-user-img-3 {
	background-image: url(../sourse/img/image/image-3.jpg);
	left: 61px;
}

.unlock-valuable-knowledge__position-user-img-4 {
	background-image: url(../sourse/img/image/image-4.jpg);
	left: 86px;
}

.unlock-valuable-knowledge__position-user-img-5 {
	background-image: url(../sourse/img/image/image-5.jpg);
	left: 6px;
}

.unlock-valuable-knowledge__position-user-img-6 {
	background-image: url(../sourse/img/image/image-6.jpg);
	left: 33px;
}

.unlock-valuable-knowledge__position-user-img-7 {
	background-image: url(../sourse/img/image/image-7.jpg);
	left: 61px;
}

.unlock-valuable-knowledge__position-user-img-8 {
	background-image: url(../sourse/img/image/image-8.jpg);
	left: 86px;
}

.unlock-valuable-knowledge__content {
	padding: 40px 0;
}

.unlock-valuable-knowledge_top-banner>h4 {
	margin-bottom: 10px;
}

.unlock-valuable-knowledge_top-banner>p {
	margin-bottom: 24px;
}

.unlock-valuable-knowledge__img1 {
	width: 100%;
	height: 0;
	padding-top: 50%;
	border-radius: 10px;
	background-image: url(../sourse/img/unlock-valuable-knowledge__img1.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.unlock-valuable-knowledge__img2 {
	width: 100%;
	height: 0;
	padding-top: 50%;
	border-radius: 10px;
	background-image: url(../sourse/img/unlock-valuable-knowledge__img2.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.unlock-valuable-knowledge__content {
	border-top: 1px solid var(--dark-color_15);
	border-bottom: 1px solid var(--dark-color_15);
}

.unlock-valuable-knowledge__img-under-general-content_top-mobile-or-descktop {
	margin: 24px 0 16px;
}

.unlock-valuable-knowledge__img-under-general-content_top-mobile-or-top-left-descktop {
	margin-bottom: 16px;
}

.unlock-valuable-knowledge__img-under-general-content_top-mobile-or-top-left-descktop-key,
.unlock-valuable-knowledge__img-under-general-content_medium-mobile-or-top-right-descktop-key,
.unlock-valuable-knowledge__img-under-general-content_bottom-key {
	margin-bottom: 2px;
}

.unlock-valuable-knowledge__img-under-general-content_top-mobile-or-top-left-descktop {
	background-color: var(--dark-color_10);
	border: 1px solid var(--dark-color_15);
	border-radius: 8px;
	padding: 20px;
}

.unlock-valuable-knowledge__img-under-general-content_medium-mobile-or-top-right-descktop {
	background-color: var(--dark-color_10);
	border: 1px solid var(--dark-color_15);
	border-radius: 8px;
	padding: 20px;

}

.unlock-valuable-knowledge__img-under-general-content_bottom {
	background-color: var(--dark-color_10);
	border: 1px solid var(--dark-color_15);
	border-radius: 8px;
	padding: 20px;
}

.preview {
	width: auto;
	max-height: 49px;
	padding: 14px 20px;
	gap: 4px;
	background-color: var(--dark-color_08);
	border: 1px solid var(--dark-color_10);
	text-align: center;
	justify-content: center;
	align-items: center;
}

.btn__yellow-eye {
	background-image: url(../sourse/img/yellow-eye.jpg);
	width: 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}