@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(_variables.css);
@import url(_hero-section.css);



* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	background-color: var(--dark-color_08);
	/* background-color: #fff; */
	color: var(--grey-color_50);
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.btn {
	border: none;
	outline: none;
	cursor: pointer;
}

.content-wrap {
	min-width: 390px;
	/* *загальна ширина сторінки(desktop) 390px-(16px*2)-відступи контенту від краю content-wrap*/
	padding: 0 16px;
	/* * відступи для мобільної версії */
	margin: 0 auto;
}

.solid-line {
	min-width: 390px;
	margin: 0 -16px;
	border-top: 1px solid var(--dark-color_15);
	border-top: 1px solid #262626;
	border-bottom: 1px solid #ff0101;
	/* ! ПЕРЕВІРОЧНИЙ КОЛІР	*/
}

.gray-background {
	/* background-color: var(dark-color_12); */
	background-color: rgb(31, 31, 31);
}


.d-flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
	/* align-items: center; */
}

.column-flex {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hide-mobile {
	display: none;
}

.hide-desktop {
	display: block;
}

.hide {
	display: none;
}

.show-menu {
	left: 0;
	transition: all .5s ease;
}

.show-menu-btn {
	left: calc(50vw - (103px/2));
	/* центрування кнопки*/
	top: 149px;
	transition: all .5s ease;
}

.parent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(13, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/* border: 1px solid red; */
}

.div1 {
	grid-area: 1 / 1 / 4 / 4;
	/* border: 1px solid red; */
}

.div2 {
	grid-area: 4 / 1 / 5 / 2;
	/* border: 1px solid red; */
}

.div3 {
	grid-area: 4 / 2 / 5 / 3;
	/* border: 1px solid red; */
}

.div4 {
	grid-area: 4 / 3 / 5 / 4;
	/* border: 1px solid red; */
}

.div5 {
	grid-area: 5 / 1 / 8 / 4;
	/* border: 1px solid red; */
}

.div6 {
	grid-area: 8 / 1 / 10 / 4;
	border: 1px solid red;
}

.div7 {
	grid-area: 10 / 1 / 12 / 4;
	border: 1px solid red;
}

.div8 {
	grid-area: 12 / 1 / 14 / 4;
	border: 1px solid red;
}



@media (max-width: 768px) {
	/* .hide-on-mobile {
		display: none;
	} */

	.hide-on-desktop {
		display: block;
	}
}

@media (min-width: 768px) {
	/* .hide-on-desktop {
		display: none;
	} */

	.hide-on-mobile {
		display: block;
	}


}

@media(min-width: 768px) {
	.content-wrap {
		/* max-width: 907px; */
		padding: 0 30px;
	}

	.solid-line {
		min-width: 768px;
		margin: 0 -30px;
	}

	.top-banner {
		gap: 10px;
		padding: 0;
		/* ! ???-якщо прибрати, то центрування top-baner по вертикалі зникає. ЧОМУ ???*/
	}

	.hide-mobile {
		display: block;
	}

	.hide-desktop {
		display: none;
	}

	.btn__header {
		width: 103px;
		height: 41px;
		border-radius: 6px;
		size: 14px;
		font-weight: 500;
		background-color: var(--corporate-color);
	}

	.btn__header-desktop {
		display: block;
	}

	.main-menu {
		/* gap: 16px; */
		font-size: 14px;
	}

	ul>li {
		border-radius: 6px;
		/* Заокруглені кути */
		cursor: pointer;
		/* Вказівник */
		border: 1px solid var(--dark-color_15);
		padding: 10px 18px;
	}

	ul>li :hover {
		border-radius: 10px;
		border: 1px solid var(--dark-color_15);
		background-color: var(--dark-color_08);
		padding: 10px 18px;
	}

	.parent {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		/* border: 1px solid red; */
	}

	.div1 {
		grid-area: 1 / 1 / 6 / 7;
		/* border: 1px solid red; */
		
	}

	.div2 {
		grid-area: 6 / 1 / 8 / 3;
		/* border: 1px solid red; */
	}

	.div3 {
		grid-area: 6 / 3 / 8 / 5;
		/* border: 1px solid red; */
	}

	.div4 {
		grid-area: 6 / 5 / 8 / 7;
		/* border: 1px solid red; */
	}

	.div5 {
		grid-area: 1 / 7 / 8 / 10;
		/* border: 1px solid red; */
	}

	.div6 {
		grid-area: 8 / 1 / 11 / 4;
		/* border: 1px solid red; */
	}

	.div7 {
		grid-area: 8 / 4 / 11 / 7;
		/* border: 1px solid red; */
	}

	.div8 {
		grid-area: 8 / 7 / 11 / 10;
		/* border: 1px solid red; */
	}

										.users-img {
											margin: 340px 40px 20px;
										}
}

@media(min-width: 968px) {
	.content-wrap {
		/* max-width: 1061px; */
		padding: 0 45px;
	}

	.solid-line {
		min-width: 968px;
		margin: 0 -45px;
	}

				.users-img {
					margin: 340px 40px 20px;
				}
}

@media(min-width: 1152px) {
	.content-wrap {
		max-width: 1319px;
		padding: 0 60px;
	}

	.solid-line {
		min-width: 1152px;
		margin: 0 -60px;
	}

	.users-img {
		width: 147px;
		height: 66px;

		margin: 120px 40px 20px;
	}

	.user-img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/* border: 1px solid var(--dark-color_40);
					border: 1px solid red;
					background-size: cover;
					background-position: top right;
					background-repeat: no-repeat; */
		top: 7px;
	}
}

@media(min-width: 1440px) {
	.content-wrap {
		max-width: 1280px;
		padding: 0 80px;
	}

	/* .solid-line {
					min-width: 1440px;
					margin: 0 -80px;
				} */

	.top-banner {
		height: 45px;
		padding: 0;
		/* ! ???-якщо прибрати, то центрування top-baner по вертикалі зникає. ЧОМУ ???*/
	}

	.top-banner__content {
		size: 14px;
		line-height: 21px;
	}

	.logo-header {
		width: 143.12px;
		height: 40px;
		margin: 20.5px 0 20.5px;
	}

	.logo-header__img {
		width: 40px;
		height: 40px;
	}

	.logo-header__title {
		font-size: 13.73px;
		padding-left: 10.18px;
	}

	.nav-bar {
		height: 81px;
	}
}

@media(min-width: 1920px) {
	.content-wrap {
		max-width: 1596px;
		/* *загальна ширина сторінки(desktop) 1920px-(162px*2)-відступи контенту від краю content-wrap */
		padding: 0 162px;
	}

	/* .solid-line {
					min-width: 1920px;
					margin: 0 -162px;
				} */

	.top-banner {
		height: 67px;
	}

	.top-banner__content {
		size: 18px;
		line-height: 27px;
	}

	.logo-header {
		width: 178.91px;
		height: 50px;
		/* background-color: aqua; */
		margin: 26.5px 0 26.5px;
	}

	.logo-header__img {
		width: 50px;
		height: 50px;
	}

	.logo-header__title {
		font-size: 17.16px;
		padding-left: 12.73px;
	}

	.nav-bar {
		height: 103px;
	}

	.btn__header {
		width: 137px;
		height: 55px;
		border-radius: 10px;
		size: 18px;
	}

	.main-menu {
		/* gap: 16px; */
		font-size: 18px;
	}

	ul>li {
		border-radius: 10px;
		/* Заокруглені кути */
		cursor: pointer;
		/* Вказівник */
		/* border: 1px solid var(--dark-color_15); */
		padding: 14px 24px;
	}

	ul>li :hover {
		border-radius: 10px;
		/* border: 1px solid var(--dark-color_15); */
		/* background-color: var(--dark-color_08); */
		padding: 14px 24px;
	}

	.users-img {
		width: 218px;
		height: 80px;

		margin: 120px 40px 20px;
	}

	.user-img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		top: 7px;
	}

	.user-img-1 {
		left: 7px;
	}

	.user-img-2 {
		left: 54px;
	}

	.user-img-3 {
		left: 103px;
	}

	.user-img-4 {
		left: 149px;
	}
}

/*!----- End of Media Queries ------*/