@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url(_variables.css);
@import url(_hero-section.css);
@import url(_future-tech-features.css); */


:root {
	--main-font: "Inter", sans-serif;
	--help-font: "Kumbh Sans", sans-serif;
	--dark-color_absolute: #000;
	--dark-color_08: #141414;
	--dark-color_10: #1A1A1A;
	--dark-color_12: #191919;
	--dark-color_15: #262626;

	--dark-color_40: #666666;

	--grey-color_50: #7E7E81;
	--grey-color_60: #98989A;


	--light_color_absolute: #fff;
	--corporate-color: #FFD11A;
}


* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	background-color: var(--dark-color_08);
	/* background-color: #fff; */
	color: var(--grey-color_50);
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.btn {
	border: none;
	outline: none;
	cursor: pointer;
}

.content-wrap {
	min-width: 320px;
	/* *загальна ширина сторінки(desktop) 390px-(16px*2)-відступи контенту від краю content-wrap*/
	padding: 0 16px;
	/* * відступи для мобільної версії */
	margin: 0 auto;
}

/* .solid-line {
	min-width: 300px;
	margin: 0 -16px;
	border-top: 1px solid var(--dark-color_15);
	border-top: 1px solid #262626;
	border-bottom: 1px solid #afff01;
} */

.gray-background {
	/* background-color: var(dark-color_12); */
	background-color: rgb(31, 31, 31);
	border-bottom: 1px solid rgb(174, 255, 0);
	border-top: 1px solid rgb(174, 255, 0);
}


.d-flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
	/* align-items: center; */
}

.column-flex {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hide-mobile {
	display: none;
}

.hide-desktop {
	display: block;
}

.hide {
	display: none;
}

.show-menu {
	left: 0;
	transition: all .5s ease;
}

.show-menu-btn {
	left: calc(50vw - (103px/2));
	/* центрування кнопки*/
	top: 149px;
	transition: all .5s ease;
}

/* TODO grid-container__hero-section */

.parent__first-screen__wiht-out-header_grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(6, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/* border: 1px solid red; */

}

.div1__first-screen__wiht-out-header_grid {
	grid-area: 1 / 1 / 2 / 4;
	/* border: 1px solid red; */
}

.div2__indicators-item {
	grid-area: 2 / 1 / 3 / 2;
	/* border: 1px solid red; */
}

.div3__indicators-item {
	grid-area: 2 / 2 / 3 / 3;
	/* border: 1px solid red; */
}

.div4__indicators-item {
	grid-area: 2 / 3 / 3 / 4;
	/* border: 1px solid red; */
}

.div5__content_solar-corona {
	grid-area: 3 / 1 / 4 / 4;
	/* border: 1px solid red; */
}

.div6__information-board__item {
	grid-area: 4 / 1 / 5 / 4;
	/* border: 1px solid red; */
	/* grid-row: span 1; */
}

.div7__information-board__item {
	grid-area: 5 / 1 / 6 / 4;
	/* border: 1px solid red; */
	/* grid-row: span 1; */
}

.div8__information-board__item {
	grid-area: 6 / 1 / 7 / 4;
	/* border: 1px solid red; */
	/* grid-row: span 1; */
}

.first-screen {
	/* height: 100vh; */
	background-color: var(--dark-color_08);
}

/* header{
} */
.top-banner {
	min-height: 74px;
	/** min- для того, щоб при маштабуванні контент в top-banner__content не виходив за межі даного блоку*/
	padding: 41px 8px 15px;
	/**внутрішній відступ по відношенню до content-wrap*/
	gap: 10px;
	border-bottom: 1px solid var(--dark-color_15);
	/* border-bottom: 1px solid #fa0000; */
	background-color: var(--dark-color_08);
}

.top-banner__content {
	size: 12px;
	line-height: 18px;
	/* padding: 0 8px ; */
	/* letter-spacing: -3%; */
	color: var(--grey-color_60);

}

.btn__arrow {
	min-width: 20px;
	height: 20px;
	background-image: url("../sourse/img/arrow.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* border: 1px solid #141414; */
}


.nav-bar {
	height: 75px;

}

.logo-header {
	width: 125.23px;
	height: 35px;
	/* background-color: aqua; */
	margin: 20px 0 20px;
}

.logo-header__img {
	width: 35px;
	height: 35px;
}

.logo-header__title {
	font-size: 12.01px;
	font-weight: 700;
	color: var(--light_color_absolute);
	margin: auto 0;
	padding-left: 8.97px;
}

.burger-icons {
	/* background-color: brown; */
	width: 500px;
	height: 50px;
}

.main-menu .burger-menu {
	color: var(--grey-color_50);
	/* color: #fff; */
}


.mobile-menu {
	width: 100vw;
	height: calc(100vh - 185px - 70px);
	left: -10000px;
	top: 185px;
	flex-direction: column;
	gap: 20px;
	font-size: 3rem;
	color: var(--grey-color_50);
	transition: all 1.2s ease;
}

.btn__header-mobile {
	left: -10000px;
}

#btnMobileHeader>.btn {
	width: 103px;
	height: 41px;
	border-radius: 6px;
	size: 14px;
	font-weight: 500;
	background-color: var(--corporate-color);
}

.burger-menu {
	min-width: 25.5px;
	height: 17px;
	color: var(--light_color_absolute);
	cursor: pointer;
	margin-right: 0;
}

#closeIcon {
	font-size: 25.5px;
	margin-top: -4px;
	margin-left: 4px;
}

/*! start - first-screen__wiht-out-header*/

.title-banner {
	padding: 40px 0 30px;
}

.title-container__under-title {
	font-size: 18px;
	font-family: var(--help-font);
	color: var(--dark-color_40);
	margin-bottom: 14px;
}

.title-container__title {
	font-size: 20px;
	/* 30px*/
	font-family: var(--help-font);
	color: var(--light_color_absolute);
	font-weight: 500;
	margin-bottom: 10px;
}

.title-container__content {
	font-size: 14px;
	font-family: var(--main-font);
	color: var(--grey-color_50);
}

.indicators-item {
	max-height: 118px;
	/* flex: 1 1 33.333333%; */
	border-top: 1px solid red;
	/* border-bottom: 1px solid red;    !на видалення */
	padding: 20px 0;
	/* border-left: 1px solid red; */


}

.indicators-item+.item-2 {
	border-left: 1px solid red;
	border-right: 1px solid red;
}

.item-2,
.item-3 {
	padding-left: 20px;
	padding-right: 20px;
}

.item-1 {
	padding-right: 20px;
}

.indicators-item_number {
	font-size: 24px;
	font-weight: 600;
	color: var(--light_color_absolute);
}

.indicators-item_number>span {
	color: var(--corporate-color);
}

.indicators-item_subscribe {
	font-size: 14px;
	font-weight: 400;
}

/* .wrapper__content_solar-corona{
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
} */

.content_solar-corona {
	display: grid;
	grid-template-rows: 1fr auto;
	background-image: url(../sourse/img/solar-corona.svg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../sourse/img/solar-corona.svg);
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	/* padding-bottom: 0 40px 40px; */
}

.users-img {
	width: 134px;
	height: 56px;
	border-radius: 100px;
	background-color: var(--dark-color_10);
	border: 1px solid var(--dark-color_15);
	border: 1px solid red;
	margin: 230px 24px 20px;
}


.user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--dark-color_40);
	border: 1px solid red;
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	top: 7px;
}

.user-img-1 {
	background-image: url(../sourse/img/image/image-1.jpg);
	left: 6px;
}

.user-img-2 {
	background-image: url(../sourse/img/image/image-2.jpg);
	left: 33px;
}

.user-img-3 {
	background-image: url(../sourse/img/image/image-3.jpg);
	left: 61px;
}

.user-img-4 {
	background-image: url(../sourse/img/image/image-4.jpg);
	left: 86px;
}

.first-screen__content_solar-corona_title {
	font-size: 18px;
	font-weight: 500;
	color: var(--light_color_absolute);
	margin: 0 24px 4px;
}

.first-screen__content_solar-corona_subscribe {
	font-size: 14px;
	font-weight: 400;
	margin: 4px 24px 20px;
}

.btn-main-indicators {

	margin: 20px 24px 40px;
	background-color: var(--dark-color_08);
	border-radius: 8px;
	border: 1px solid var(--dark-color_15);
	padding: 14px 0;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.icon__information-board {
	width: 30px;
	height: 30px;
	margin-top: 30px;
	background-image: url(../sourse/img/sprite/css_sprites.png);
	background-repeat: no-repeat;
	background-size: 600%;

	/* border: 1px solid red; */
}

.information-board__item {
	max-height: 184px;
	/* padding-bottom: 30px; */
	/* margin: 0 ; */
	border-bottom: 1px solid var(--dark-color_15);
	border-bottom: 1px solid #262626;
}

.first-item>.icon__information-board {
	/* width: 30px;
height: 30px; */
	/* background-size: 600%; */
	background-position: -141px -50px;

}

.second-item>.icon__information-board {
	/* width: 30px;
	height: 30px; */
	/* background-size: 600%; */
	background-position: -141px -7px;

}

.third-item>.icon__information-board {
	/* width: 30px;
	height: 30px; */

	background-position: -5px -133px;
}

.information-board_content {
	margin-top: 16px;
}

.title__information-board_content {
	font-size: 16px;
	font-weight: 500;
	/* margin-top: 16px; */
	color: var(--light_color_absolute);
}

.information-board_content>.supscribe {
	font-size: 14px;
	font-weight: 400;
	/* margin-bottom: 10px; */
}

.information-board__item>.comment {
	margin-top: 10px;
	margin-bottom: 30px;
}

.arrow_yellow-round {
	min-width: 40px;
	min-height: 40px;
	border-radius: 50%;
	background-image: url(../sourse/img/arrow_yellow-round.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* TODO grid-container__future-tech-features */
.parent_future-tech-features {
display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
	border: 1px solid red;
}

.div2 {
	grid-area: 2 / 1 / 3 / 2;
	border: 1px solid red;
}

.div3 {
	grid-area: 3 / 1 / 4 / 2;
	border: 1px solid red;
}

.div4 {
	grid-area: 4 / 1 / 5 / 2;
	border: 1px solid red;
}





@media (max-width: 768px) {
	/* .hide-on-mobile {
		display: none;
	} */

	.hide-on-desktop {
		display: block;
	}

	/* .btn-main-indicators {
			min-width: 180px;
			min-height: 49px;
			margin: 20px 40px 40px;
			background-color: var(--dark-color_08);
			border-radius: 8px;
			border: 1px solid var(--dark-color_15);
			padding: 14px 85px;
			justify-content: center;
			align-items: center;
			gap: 4px;
		} */
}

@media (min-width: 768px) {
	/* .hide-on-desktop {
		display: none;
	} */

	.hide-on-mobile {
		display: block;
	}


}

@media(min-width: 768px) {
	.content-wrap {
		/* max-width: 907px; */
		padding: 0 30px;
	}

	.solid-line {
		min-width: 768px;
		margin: 0 -30px;
	}

	.top-banner {
		gap: 10px;
		padding: 0;
		/* ! ???-якщо прибрати, то центрування top-baner по вертикалі зникає. ЧОМУ ???*/
	}

	.hide-mobile {
		display: block;
	}

	.hide-desktop {
		display: none;
	}

	.btn__header {
		width: 103px;
		height: 41px;
		border-radius: 6px;
		size: 14px;
		font-weight: 500;
		background-color: var(--corporate-color);
	}

	.btn__header-desktop {
		display: block;
	}

	.main-menu {
		/* gap: 16px; */
		font-size: 14px;
	}

	ul>li {
		border-radius: 6px;
		/* Заокруглені кути */
		cursor: pointer;
		/* Вказівник */
		border: 1px solid var(--dark-color_15);
		padding: 10px 18px;
	}

	ul>li :hover {
		border-radius: 10px;
		border: 1px solid var(--dark-color_15);
		background-color: var(--dark-color_08);
		padding: 10px 18px;
	}

	.parent__first-screen__wiht-out-header_grid {
		display: grid;
		grid-template-columns: repeat(30, auto);
		grid-template-rows: repeat(7, auto);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.div1__first-screen__wiht-out-header_grid {
		grid-area: 1 / 1 / 5 / 19;
	}

	.div2__indicators-item {
		grid-area: 5 / 1 / 6 / 7;
	}

	.div3__indicators-item {
		grid-area: 5 / 7 / 6 / 13;
	}

	.div4__indicators-item {
		grid-area: 5 / 13 / 6 / 19;
	}

	.div5__content_solar-corona {
		grid-area: 1 / 19 / 6 / 31;
	}

	.div6__information-board__item {
		grid-area: 6 / 1 / 8 / 11;
	}

	.div7__information-board__item {
		grid-area: 6 / 11 / 8 / 21;
	}

	.div8__information-board__item {
		grid-area: 6 / 21 / 8 / 31;
	}

	.title-banner {
		padding: 40px 50px 30px 0;
	}

	.users-img {
		margin: 340px 40px 20px;
	}

	.btn-main-indicators {
		max-width: 195px;
		max-height: 49px;
		margin: 20px 0 50px 40px;
		/* background-color: var(--dark-color_08);
				border-radius: 8px;
				border: 1px solid var(--dark-color_15); */
		padding: 14px 20px;
		/* justify-content: center;
				align-items: center; */
		gap: 4px;
		font-size: 14px;
	}

	.information-board__item {
		max-height: 230px;
		/* padding-bottom: 30px; */
		/* margin: 0 ; */
		border-bottom: 1px solid var(--dark-color_15);
		border-bottom: 1px solid #262626;
		border-bottom: 1px solid #f1f10a;
		/*! контроль- на видалення */
		border-top: 1px solid #0e0af1;
		/*! контроль- на видалення */
	}

	.icon__information-board {
		width: 30px;
		height: 30px;
		margin-top: 30px;
		/* background-image: url(../sourse/img/sprite/css_sprites.png); */
		/* background-repeat: no-repeat; */
		background-size: 600%;

		/* border: 1px solid red; */
	}

	.first-item>.icon__information-board {
		/* width: 30px;
		height: 30px; */
		/* background-size: 600%; */
		background-position: -142px -53px;

	}

	.second-item>.icon__information-board {
		/* width: 30px;
			height: 30px; */
		/* background-size: 600%; */
		background-position: -142px -9px;

	}

	.third-item>.icon__information-board {
		/* width: 30px;
			height: 30px; */

		background-position: -7px -132px;
	}


	.arrow_yellow-round {
		margin-left: 30px;
	}

	.second-item {
		border-left: 1px solid red;
		border-right: 1px solid red;
	}

	.first-item,
	.second-item {
		padding-right: 30px;
	}

	.second-item,
	.third-item {
		padding-left: 30px;
	}

	.information-board_content {
		margin-top: 16px;
	}

	/* TODO grid-container__future-tech-features */
	.parent_future-tech-features {
   display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}

	.div1 {
		grid-area: 1 / 1 / 3 / 2;
		border: 1px solid rgb(0, 255, 8);
	}

	.div2 {
		grid-area: 1 / 2 / 3 / 4;
		border: 1px solid rgb(0, 255, 8);
	}

	.div3 {
		grid-area: 3 / 1 / 5 / 2;
		border: 1px solid rgb(0, 255, 8);
	}

	.div4 {
		grid-area: 3 / 2 / 5 / 4;
		border: 1px solid rgb(0, 255, 8);
	}

}

@media(min-width: 968px) {
	.content-wrap {
		/* max-width: 1061px; */
		padding: 0 45px;
	}

	.solid-line {
		min-width: 968px;
		margin: 0 -45px;
	}

	.users-img {
		margin: 340px 40px 20px;
	}
}

@media(min-width: 1152px) {
	.content-wrap {
		max-width: 1319px;
		padding: 0 60px;
	}

	.solid-line {
		min-width: 1152px;
		margin: 0 -60px;
	}

	.users-img {
		width: 147px;
		height: 66px;

		margin: 240px 40px 20px;
	}

	.user-img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/* border: 1px solid var(--dark-color_40);
					border: 1px solid red;
					background-size: cover;
					background-position: top right;
					background-repeat: no-repeat; */
		top: 7px;
	}

	/**/
	.information-board__item {
		max-height: 237px;
		/* padding-bottom: 40px; */

		border-bottom: 1px solid var(--dark-color_15);
		border-bottom: 1px solid #262626;
		border-bottom: 1px solid green;
	}

	/* .icon__information-board {
		width: 30px;
		height: 30px;
		margin-top: 30px;
		background-image: url(../sourse/img/sprite/css_sprites.png);
		background-repeat: no-repeat;
		background-size: 600%;

	} */

	.title__information-board_content {
		font-size: 18px;
		/* font-weight: 500; */
		/* margin-top: 20px; */
		/* color: var(--light_color_absolute); */
	}

	.information-board_content {
		margin-top: 20px;
	}

	.information-board_content>.supscribe {
		font-size: 16px;
		/* font-weight: 400; */

	}

	.information-board__item>.comment {
		margin-top: 20px;
	}

	.arrow_yellow-round {
		width: 44px;
		height: 44px;
		/* border-radius: 50%;
		background-image: url(../sourse/img/arrow_yellow-round.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat; */
	}

	/* ------------------------------------------ */

	.first-item>.icon__information-board {
		/* width: 30px;
				height: 30px; */
		/* background-size: 600%; */
		background-position: -143px -52px;

	}

	.second-item>.icon__information-board {
		/* width: 30px;
					height: 30px; */
		/* background-size: 600%; */
		background-position: -143px -11px;

	}

	.third-item>.icon__information-board {
		/* width: 30px;
					height: 30px; */

		background-position: -3px -136px;
	}

	/* .first-item>.arrow_yellow-round,
				.second-item>.arrow_yellow-round {
					
				} */

	.second-item {
		border-left: 1px solid red;
		border-right: 1px solid red;
	}

	.first-item,
	.second-item {
		padding-right: 50px;
	}

	.second-item,
	.third-item {
		padding-left: 50px;
	}
}

@media(min-width: 1440px) {
	.content-wrap {
		max-width: 1280px;
		padding: 0 80px;
	}

	/* .solid-line {
					min-width: 1440px;
					margin: 0 -80px;
				} */

	.top-banner {
		height: 45px;
		padding: 0;
		/* ! ???-якщо прибрати, то центрування top-baner по вертикалі зникає. ЧОМУ ???*/
	}

	.top-banner__content {
		size: 14px;
		line-height: 21px;
	}

	.logo-header {
		width: 143.12px;
		height: 40px;
		margin: 20.5px 0 20.5px;
	}

	.logo-header__img {
		width: 40px;
		height: 40px;
	}

	.logo-header__title {
		font-size: 13.73px;
		padding-left: 10.18px;
	}

	.nav-bar {
		height: 81px;
	}

	/* .btn-main-indicators {
		max-width: 195px;
		max-height: 49px;
		margin: 20px 0 50px 50px;
		/* background-color: var(--dark-color_08);
		border-radius: 8px;
		border: 1px solid var(--dark-color_15); */
	/* padding: 14px 20px; */
	/* justify-content: center;
		align-items: center; */
	/* gap: 4px;
		font-size:14px;
	} */

	.icon__information-board {
		width: 40px;
		height: 40px;
		margin-top: 40px;
		/* background-image: url(../sourse/img/sprite/css_sprites.png); */
		/* background-repeat: no-repeat; */
		background-size: 650%;

		/* border: 1px solid red; */
	}

	.first-item>.icon__information-board {
		/* width: 30px;
				height: 30px; */
		/* background-size: 600%; */
		background-position: -207px -79px;

	}

	.second-item>.icon__information-board {
		/* width: 30px;
					height: 30px; */
		/* background-size: 600%; */
		background-position: -210px -16px;

	}

	.third-item>.icon__information-board {
		/* width: 30px;
					height: 30px; */

		background-position: -11px -197px;
	}
}

@media(min-width: 1920px) {
	.content-wrap {
		max-width: 1596px;
		/* *загальна ширина сторінки(desktop) 1920px-(162px*2)-відступи контенту від краю content-wrap */
		padding: 0 162px;
	}

	/* .solid-line {
					min-width: 1920px;
					margin: 0 -162px;
				} */

	.top-banner {
		height: 67px;
	}

	.top-banner__content {
		size: 18px;
		line-height: 27px;
	}

	.logo-header {
		width: 178.91px;
		height: 50px;
		/* background-color: aqua; */
		margin: 26.5px 0 26.5px;
	}

	.logo-header__img {
		width: 50px;
		height: 50px;
	}

	.logo-header__title {
		font-size: 17.16px;
		padding-left: 12.73px;
	}

	.nav-bar {
		height: 103px;
	}

	.btn__header {
		width: 137px;
		height: 55px;
		border-radius: 10px;
		size: 18px;
	}

	.main-menu {
		/* gap: 16px; */
		font-size: 18px;
	}

	ul>li {
		border-radius: 10px;
		/* Заокруглені кути */
		cursor: pointer;
		/* Вказівник */
		/* border: 1px solid var(--dark-color_15); */
		padding: 14px 24px;
	}

	ul>li :hover {
		border-radius: 10px;
		/* border: 1px solid var(--dark-color_15); */
		/* background-color: var(--dark-color_08); */
		padding: 14px 24px;
	}

	.title-container {
		/* padding: 150px 50px 100px 0; */
		/* padding-top: 150px;
		padding-left: 50px;
		padding-bottom: 100px; */
		max-height: 558px;
	}

	.title-banner {
		padding: 40px 50px 30px 0;
	}

	.users-img {
		width: 218px;
		height: 80px;

		margin: 340px 40px 20px;
	}

	.user-img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		top: 7px;
	}

	.user-img-1 {
		left: 7px;
	}

	.user-img-2 {
		left: 54px;
	}

	.user-img-3 {
		left: 103px;
	}

	.user-img-4 {
		left: 149px;
	}

	.icon__information-board {
		width: 40px;
		height: 40px;
		margin-top: 40px;
		/* background-image: url(../sourse/img/sprite/css_sprites.png); */
		/* background-repeat: no-repeat; */
		background-size: 650%;

		/* border: 1px solid red; */
	}

	.first-item>.icon__information-board {
		/* width: 30px;
					height: 30px; */
		/* background-size: 600%; */
		background-position: -207px -79px;

	}

	.second-item>.icon__information-board {
		/* width: 30px;
						height: 30px; */
		/* background-size: 600%; */
		background-position: -211px -9px;

	}

	.third-item>.icon__information-board {
		/* width: 30px;
						height: 30px; */

		background-position: -11px -197px;
	}


	.information-board__item>.comment {
		margin-bottom: 50px;
	}
}

/*!----- End of Media Queries ------*/