body{
  position: relative;
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

caption {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

table {
  width: 500px;
  height: 500px;
  border-collapse: collapse;
  border: 2px solid #000000;
}

tr,
td {
  padding: 10px;
  height: 71px;        /*щоб клітини не спадалися, адже в них контенту немає*/
  text-align: center;
}

td {
  font-size: 50px;
}

tr:nth-child(odd) td:nth-child(odd) {
	background: rgb(172, 172, 172);
}	
tr:nth-child(even) td:nth-child(even) {
	background: rgb(172, 172, 172);
}

