
  
  div {
    position: relative;
    padding: 20px 20px;
    display: inline-block;
    margin: 130px;
    width: 40px;
    height: 40px;
    font-size:34px;
    text-align:center;
    line-height:40px; /* значення має дорівнювати height: 40px;*/
    border-radius:50%;
    border: 35px solid #fdfd03;
  }
  
  div::after {
    content: "";
    display: inline-block;
    width: 140px;
    height: 140px;
    border: 30px solid blue;
    position: absolute;
    right: -60px;
    top: -78%;
    border-radius:50%;
  }