.modal {
	width: 80vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - 25vh);
	left: calc(50% - 40vw);
	box-shadow: 0 0 10px 10px #878274;
	background-color: var(--light-color);
}
.modal i {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}