body {
  font-size:30px;
  background: white;
}

DIV {
  padding: 0 250px;
  /* display: inline-block; */
  display: table;
  margin: 30px auto;
  position: relative;
}

div::before {
  content: "";
  display: block;
  width: 200px;
  /* height: 4px; */
  /* height: 50%; */
  border-top: 4px solid black;
  position: absolute;
  left: 40px;
  top: 50%;
}

div::after {
  content: "";
  display: block;
  width: 200px;
  /* height: 4px; */
  /* height: 0; */
  border-top: 4px solid black;
  position: absolute;
  right: 40px;
  top: 50%;
}