* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Arial", serif;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.font-b{
  font-weight: bold;
}

.d-block{
  display: block;
}

.d-flex{
display: flex;
}

.pull-f{
  margin-left: auto;
}

.page-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

.left-side__img {
  margin-bottom: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.left-side__content {
  width: 30%;
  min-width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #3f6592;
  color: white;
}

.left-line {
  margin-top: 20px;
  margin-right: -30px; /*відступ зправа */
  height: 2px; /* Товщина лінії */
  width: 100%+30px;
  border: none; /* ??? Прибираємо кордон */
  background-color: white; /* Колір лінії */
}

.content-item__personal-data__left-side ul{
margin: 30px 0 40px;
}

.content-item__personal-data__left-side ul li:not(:last-child){
  margin-bottom: 15px;
}


.content-item__personal-data__left-side {
  display: flex;
  margin: 0 auto;
  font-size: 15px;
}

.content-item__title {
  font-size: 24px;
  font-weight: bold;
}

.right-side__content {
  width: 100%;
  min-width: 200px;
  padding: 40px 30px;
  background-color: #ffffff;
  color: #000000;
}

h1{
font-size: 3rem; 
}

hr{
  margin-top: 10px;
  background-color: #d2d2d2;
  height: 2px;
}

.content-item__title__right-side {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.font-i{
  font-style: italic;
}

.content-item_personal-data__right-side ul{
  margin-top: 15px;
}
.content-item_personal-data__right-side ul li{
/* .content-item_personal-data__right-side ul li:not(:last-child){ */
  margin-bottom: 15px;
}
