div {
  font-size: 24px;
  padding-left: 50px;
  margin-left: 550px;
  position: relative; /*необхідний для формування позицій ліній*/
  display: inline-block; /* весь блок займатиме ширину за розміром контенту в ньому */
}

div:before {
  content: " ";
  background: black;
  width: 500px;
  height: 5px;
  top: 10px; /*позиціонування лінії відносно верхнього краю тексту */
  left: 120px;
  position: absolute; /* включаємо абсолютне позиціонування щодо блоку з relative */
}
div:after {
  content: " ";
  background: black;
  width: 500px;
  height: 5px;
  bottom: 12px; /* розміщення лінії відносно нижнього краю тексту */
  right: 70px;
  position: absolute; /* включаємо абсолютне позиціонування щодо блоку з relative */
}
