:root {
--light-color: #fff;
--dark-color: #000;
}
.wrapper {
  display: block;
}
.grid-container {
  margin: 0 auto;
  max-width: 1440px;
  height: 2150px;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(6, 16.666666%);
  color: var(--light-color);
}
.wrapper{
    padding:30px 50px;
}
.d-block{
  display:block;
}
.bg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.w-font{
  font-weight: 200;
}
.w-font-n{
  font-weight: 600;
}

.item-1{
  grid-column: 1/67;
  grid-row: 1/3;
  background-image: url(../img/1.jpg);
} 
.item-2{
  grid-column: 67/100;
  grid-row: 1/3;
  background-color:#f3f3f3;
  color: var(--dark-color);
}
.item-3{
  grid-column: 1/45;
  grid-row: 3/5;
  background-image: url(../img/3.jpg);
}
.item-4{
  grid-column: 45/100;
  grid-row: 3/4;
  background-image: url(../img/4.jpg);
}
.item-5{
  grid-column: 45/100;
  grid-row: 4/5;
  background-image: url(../img/5.jpg);
}
button{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin-top: 60px;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.item-6{
  grid-column: 1/33;
  grid-row: 5/7;
  background-image: url(../img/6.jpg);
}
.icon-main{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 430px;
  cursor: pointer;
}
.item-7{
  grid-column: 33/100;
  grid-row: 5/7;
  background-image: url(../img/7.jpg);
}
.form{
  border-radius: 5px;
  margin-bottom: 160px;
}
input{
  margin-right: 10px;
  margin-bottom: 10px;
}
[type="text"], [type="email"]{
  background-color: #000;
  border-radius: 10px;
  border: black;
  height: 50px;
  width: 300px;
  }
[name="text"]{
  background-color: #000;
  border-radius: 10px;
  border: black;
  height: 200px;
  width: 617px;
}
.icons-social{
  margin-bottom: 30px;
}
.icon-f{
  background-image: url(../img/icon/icon-f.png);
  cursor: pointer;
} 
.icon-b{
  background-image: url(../img/icon/icon-b.png);
  cursor: pointer;
}
.icon-t{
  background-image: url(../img/icon/icon-t.png);
  cursor: pointer;
}

