body {
  /*   background: red; */
    font-size:30px;
  }
  
  div {
    position: relative;
    padding: 20px 20px;
    display: inline-block;
    margin: 130px;
    background: white;
    border-radius:50%;
  }
  
  div::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 40px solid yellow;
  /*   background-color:blue; */
    position: absolute;
    left: -22px;
    top: -27px;
    border-radius:50%;
  }
  
  div::after {
    content: "";
    display: inline-block;
    width: 135px;
    height: 135px;
   
    border: 40px solid blue;
  /*   background-color:yellow; */
    position: absolute;
    right: -70px;
    top: -90%;
    border-radius:50%;
  }