* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

.t-text{
  text-transform: uppercase;
}
.a-text{
  text-align: center;
}
.d-block{
  display: block;
}
.color-text{
  color: #9b9b9b;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #251e20 0%, #453937 100%);
}

.main-side{
  min-width: 940px;
  min-height: 390px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.left-side{
  width: 30%;
  min-height: 390px;
  background-image:url(../sourse/img/burg21.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.left-side__inscription{
  position: absolute;
  width: 103%;
  height: 50%;
  bottom: 26px;
  right: 5px;
  background-color: #000;
}

.inscription__lable__general  {
  position: absolute;
  bottom: 56px;
  left: 52px;
  font-size: 40px;
  font-weight: bold;
  line-height:31px;
}

p{
  word-spacing: 1px;
  white-space:nowrap;
}
.inscription__everything{
  font-size: 24px;
  color: #f7c739;
}
.inscription__price{
  font-size: 20px;
}
.inscription__currency{
  font-size: 24px;
  font-weight: lighter;
}

.right-side{
  width: 70%;
  min-height: 390px;
  position: relative;
  background-color: #fff;
  color: #333333;
  font-size: 18px;
}

.right-side__title{
  text-align: center;
  margin: 45px 0 30px;
}

.conteiner{
  display: flex;
  position: relative;
}
.column{
  width: 50%;
}
.column-item{
  position: relative;
  width: 200px ;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #d5d5d5;
}

.column-item::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  display: block;
  width: 10px;
  height: 10px;
  background-color: #d5d5d5;
  transform: rotate(54deg);
}

.button {
  width: 176px;
  height: 55px;
  position: absolute;
  padding: 10px 30px;
  bottom: -65px;
  right: 0;
   font-size: 18px;
  font-weight: bold;
  background: #000;
  color: white;
}




